<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('partials/header') %>  
    
    <section class="firstsection" id="firstsection">
      <div class="firstsectioncontent">
          <h2>Make the best of your holiday</h2>
          <p>Join us and share your travel experience. Assist future travellers to have a good experience.</p>
          <a href="#" class="btn">YOUR NEXT DESTINATION</a>
      </div>
  </section> 

  <section class="secondsection">
    <p id="row1secondsection">Who are we?</p>
    <p id="row2secondsection">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aliquam nostrum. Ipsa nisi rerum inventore rem voluptates ratione omnis quod sunt officiis. Alias dignissimos molestias similique quisquam, molestiae est impedit blanditiis quam quaerat amet quis nesciunt rem. Ipsam, id doloribus libero eveniet molestias distinctio voluptatibus deserunt ullam et animi ut asperiores accusantium quisquam nihil earum quae. Maxime non nam itaque at maiores eos. Odit atque cupiditate officiis provident eos ex quos repudiandae, laudantium placeat rerum totam quia laborum dolorum? Velit iste reprehenderit non odit officiis perferendis hic excepturi delectus. A est rerum quaerat laudantium, nostrum distinctio pariatur doloribus in dicta.</p>
  </section>

  <section class="lastsection">
    <div class="contactus" id="contactus">
      <ul>
        <li id="heading">Contact us</li>
        <li>lorem</li>
        <li>lorem</li>
        <div id="icons">
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        </div>
      </ul>
    </div>
    <div id="Support">
      <ul>
        <li id="heading">Support</li>
        <li>FAQ</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
        <li>lorem</li>
      </ul>
    </div>
  </section>

  </body>

</html>

<%- include('partials/footer') %>
