<%- include('../partials/header') %>

<main class="access-point">
    <form action="/users/login" method="post">

        <label for="">Email Address</label>
        <input type="email" name="email" id="" value=""required>
        <label for="">Password</label>
        <input type="password" name="password" id=""value="" required>
        <input type="submit" value="Log In">
        <p>Don't have an account? <a href="/users/signup">Create One</a></p>
    </form>
</main>

